{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires !{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des commentaires</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">Auteur</th>
                <th class="text-center">Commentaire</th>
                <th class="text-center">Date de création</th>
                <th class="text-center">Titre de l'album</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in paginator.data %}
            <tr>
                <td>
                    <img src="{{comment.author.picture}}" alt="" class="avatar avatar-micro">
                    {{comment.author.firstName}}
                </td>
                <td>{{comment.content}}</td>
                <td class="text-center">{{comment.createdAt|date('d-m-Y H:i')}}</td>
                <td class="text-center">{{comment.album.title}}</td>
                <td class="text-center">
                    <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {% set page = paginator.page %}
        {% set pages = paginator.pages %}
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('admin_comment_index', {'page': page - 1}) }}">&laquo;</a>
            </li>

            {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}">
                    <a class="page-link" href="{{ path('admin_comment_index', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path('admin_comment_index', {'page': page + 1}) }}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
