{% set url = path('albums_show', {'slug': album.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <a href="{{ url }}">
                {{ album.title }}
            </a>
            <small>par</small>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ album.albumDate | date('d-m-Y H:i:s') }}</h4>
            <p class="card-text">
                {{ album.content }}
            </p>
            <a href="{{ url }}" class="btn btn-primary">En voir plus !</a>
            {% if app.user and app.user == album.author %}
                <a href="{{ path('albums_edit', {'slug': album.slug}) }}" class="btn btn-secondary">Modifier</a>
            {% endif %}  
        </div>
    </div>
</div>