{% set url = path('albums_show', {'slug': album.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h2>
            <a href="{{ url }}">
                {{ album.title }}
            </a>
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                {% if album.medias %}
                        {% for media in album.medias|slice(0, 3) %}
                        <div class="col-md-4">
                            <img src="{{ vich_uploader_asset(album.media, 'mediaFile') | imagine_filter('thumb') }}" alt="card-img-top"
                                style="width: 100%; height: auto;">
                        </div>
                        {% endfor %}
                {% endif %}
            </div>
            <p class="card-text">
                {{ album.content }}
            </p>
            <div class="row">
                <div class="col">Créé le {{ album.albumDate | date('d-m-Y H:i:s') }}<small> par {{ album.author.fullName }}</small></div>
            </div>
            <a href="{{ url }}" class="btn btn-primary">En voir plus !</a>
            {% if app.user and app.user == album.author %}
            <a href="{{ path('albums_edit', {'slug': album.slug}) }}" class="btn btn-secondary">Modifier</a>
            {% endif %}
            <a href="{{ path('album_like', {'id': album.id}) }}" class="btn btn-link js-like">
                {% if app.user and album.isLikedByUser(app.user) %}
                <i class="fas fa-heart"></i>
                {% else %}
                <i class="far fa-heart"></i>
                {% endif %}
                <span class="js-likes">{{ album.likes | length }}</span>
                <span class="js-label"> - J'aime</span>
            </a>
        </div>
    </div>
</div>