{% block _album_pictures_widget %}
    <p>Ajouter des photos</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-picture" class="btn btn-primary">Ajouter une photo</button>
    </div>
{% endblock %}

{% block _album_pictures_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _album_pictures_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.location) }}
                        {{ form_errors(form.location) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.disposition) }}
                        {{ form_errors(form.disposition) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>
{% endblock %}