{% extends 'base.html.twig' %}

{% block title %}
{{album.title}}
{% endblock %}

{% block body %}
{% set a = album.author %}

<div class="ad-title" style="">
    <div class="container">
        <h1>{{ album.title }}</h1>
        <p>{{ album.content }}</p>
        Album créé le {{ album.albumDate|date('d-m-Y H:i:s') }} par {{a.firstname}}</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            <p>{{ album.content }}</p>
            {% if app.user and app.user == album.author %}
            <a href="{{ path('albums_edit', {'slug': album.slug}) }}" class="btn btn-secondary">Modifier</a>
            <a href="{{ path('albums_delete', {'slug': album.slug}) }}" class="btn btn-danger" onclick="return confirm(‘Etes-vous sûr de vouloir supprimer l'album : {{album.title}} ?‘)">Supprimer
                l'album</a>
            {% endif %}
        </div>
        <div class="col">
            <div class="row mb-3 align-items-center">
                <div class="col-3">
                    <a href="{{ path('user_show', {'slug': a.slug}) }}">
                        <img src="{{a.picture}}" class="avatar avatar-medium" alt="Avatar de {{a.firstname}}">
                    </a>
                </div>
                <div class="col">
                    <a href="{{ path('user_show', {'slug': a.slug}) }}">
                        <h3>{{a.fullName}}</h3>
                    </a>
                    <span class="badge badge-primary">{{a.albums | length}} albums</span>
                </div>
            </div>
            <p>{{a.description | raw}}</p>
        </div>
    </div>
    <div class="row">
        {% for picture in album.pictures %}
        <div class="col-md-3">
            <img class="d-block w-100 mb-3" src="{{ picture.location }}" alt="">
        </div>
        {% endfor %}
    </div>
    <!-- TODO ajout des likes sur les albums ici -->
    <div class="alert alert-info">
        <h4 class="alert-heading text-center">
            <div class="row align-items-center">
                <div class="col">
                    <span class="like"><i class="far fa-smile-beam"></i></span>
                </div>
            </div>
        </h4>
    </div>
    <hr>
    <div class="alert alert-light">
        <h2 class="mb-3">Laissez un commentaire :</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Commenter !</button>
        {{ form_end(form) }}
        {% if album.comments|length > 0 %}
        <h2 class="mb-3">Commentaires :</h2>
        {% for comment in album.comments %}
        <div class="bg-light rounded mb-3 py-3 px-3">
            <strong>{{ comment.author.firstname }} : </strong>
            <blockquote>
                {{comment.content}}
                <!-- TODO prévoir l'ajout des likes sur les commentaires - template 'like.html.twig' -->
            </blockquote>
        </div>
        {% endfor %}
        {% else %}

        {% endif %}
    </div>
</div>
{% endblock %}