{% extends 'base.html.twig' %}

{% block title %}
    {{album.title}}
{% endblock %}

{% block body %}

<div class="ad-title" style="">
    <div class="container">
        <h1>{{ album.title }}</h1>
        <p>{{ album.content }} le {{ album.albumDate|date('d-m-Y H:i:s') }}</p>
        par 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ album.content }}
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="http://placehold.il/64x64" alt="Avatar de ">
                </div>
                <div class="col">
                    
                    <span class="badge badge-primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for picture in album.pictures %}
            <div class="col-md-3">
                    <img class="d-block w-100 mb-3" src="{{ picture.location }}" alt="">
            </div>  
        {% endfor %}
    </div>
</div>
{% endblock %}