{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <h4 class="card-title">{{ stats.users }} utilisateurs</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-book fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <h4 class="card-title">{{ stats.albums }} albums</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-warning text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="far fa-comments fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <h4 class="card-title">{{ stats.comments }} commentaires</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-success text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-heart fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <h4 class="card-title">{{ stats.likes }} likes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-success">
                <h2 class="alert-heading my-3"><i class="fas fa-arrow-up"></i> Les meilleurs albums</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Albums</th>
                            <th>Créateur</th>
                            <th>Nombre de commentaires</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in bestAlbums %}
                        <tr>
                            <td>{{album.id}}</td>
                            <td><img src="{{album.picture}}" alt="" class="avatar avatar-micro"> {{album.firstName}}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">{{album.compte}}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-danger">
                <h2 class="alert-heading my-3"><i class="fas fa-arrow-down"></i> Les pires albums</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Albums</th>
                            <th>Créateur</th>
                            <th>Nombre de commentaires</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in worstAlbums %}
                        <tr>
                            <td>{{album.id}}</td>
                            <td><img src="{{album.picture}}" alt="" class="avatar avatar-micro"> {{album.firstName}}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">{{album.compte}}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}